<div flex layout="column" layout-align="center center">
  <div flex-sm="100" flex-gt-sm="100" flex-gt-md="80" flex-gt-lg="80" id="maincontainer" class="md-whiteframe-z2">
    <h1 style="text-align:center" class="signheader">
    Sage
      <p id="teamname">{{ data.username }}</p>
    </h1>
    <!-- Signout button -->
    <md-button class="md-raised md-primary dashboardbtn1" ui-sref="org">Organization</md-button>
    <md-button class="md-raised md-primary dashboardbtn" ui-sref="user">Tasks</md-button>
    <md-button class="md-raised md-primary logoutbtn" ng-click="signout()">Sign Out</md-button>
  <!-- All Task Related Content -->
    <md-content id="taskdisplay" ng-cloak>
      <!-- Search/Filter Box -->

  <!-- Task List -->
    <md-content class="tasklist">
    <!-- todo: build userFilter -->
      <md-list-item layout="column" ng-repeat="project in data.projects | filter : userFilter">
        <!-- this <div ng-repeat> is a workaround that prevents the check box from being selected when the user clicks on the list item -->

         <md-button class="md-raised md-primary dashboardbtn" ui-sref="project({projectId: project._id})">Go To Project</md-button>


        <div layout="column">
          <h1 class="md-primary"> Project: {{project.name}} </h1> 
          <h3> {{project.description}} </h3>
         <md-list-item layout="column" ng-repeat="task in project.getTasks | filter : userFilter">
          <h5> Task: {{ task.name }} <h5>
          <h5> {{task.description}} </h5>
          <md-icon class="md-secondary" ng-click="deleteTask(task)" aria-label="Delete" md-svg-icon="/assets/clear_24px.svg"></md-icon>
          <md-divider  ng-if="!$last"></md-divider>
          </md-list-item>
        </div>
      </md-list-item>
    </md-content>
  </md-content>
</div>

  <!-- closes the container div -->
</div>
