<div ng-cloak>

  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
    <md-button 
      class="md-raised md-primary" 
      ng-click="clearTaskFields(); showTask=true">
      Add Task
    </md-button>
  </section>


  <div class='taskList'>

    <md-subheader class="md-no-sticky">Staging</md-subheader>
    <md-list-item 
      ng-repeat="task in data.tasks | filter : stagingFilter">
      <md-checkbox ng-model="task.selected"></md-checkbox>
      <p ng-click="loadTaskDetails(task); $parent.$parent.showTask=true">
        {{task.name}}
      </p>
      <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
    </md-list-item>

    <md-divider></md-divider>

    <md-subheader class="md-no-sticky">Assigned</md-subheader>
    <md-list-item 
      ng-repeat="task in data.tasks | filter : assignedFilter">
      <md-checkbox ng-model="task.selected"></md-checkbox>
      <p ng-click="loadTaskDetails(task); $parent.$parent.showTask=true">
        {{task.name}}
      </p>
      <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
    </md-list-item>

    <md-divider></md-divider>

    <md-subheader class="md-no-sticky">Completed</md-subheader>
    <md-list-item 
      ng-repeat="task in data.tasks | filter : completedFilter">
      <md-checkbox ng-model="task.selected"></md-checkbox>
      <p ng-click="loadTaskDetails(task); $parent.$parent.showTask=true">
        {{task.name}}
      </p>
      <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
    </md-list-item>
  
  </div>

  <div class='taskDetails' ng-show='showTask'>
    <input type="hidden" ng-model="task._id" value="{{ task._id }}">
    <input name='taskName' type='text' ng-model='task.name' placeholder='Add a task'>
    <br>
    <select ng-options="user as user.username for user in data.users track by user._id" ng-model="task.assigned">
      <option value="">Unassigned</option>
    </select>
    <br>
    <input name='description' type='text' ng-model='task.description' placeholder='Add a description'>
    <br>
    <md-button 
        class="button md-raised md-primary" 
        ng-click="showTask=false; updateTask(task); task = null;">
      {{ buttonText }}
    </md-button>
  </div>

  <md-button class="md-raised logoutbtn" ng-click="signout()">Sign Out</md-button>
</div>
