
<md-content ng-cloak>

  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="" ng-show='showAddTaskButton'>
    <md-button 
      class="md-raised md-primary" 
      ng-click="clearTaskFields(); showTask=true; showAddTaskButton=false">
      Add Task
    </md-button>
  </section>

  <md-content layout-padding ng-show='showTask'>
    <form name="taskDetailsForm">
      <md-input-container class="md-block">
        <label>Task</label>
        <input md-maxlength="50" required name="task" ng-model="task.name">
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container flex>
        <label>Assignee</label>
        <md-select ng-model="task.assigned">
          <md-option value="">Unassigned</md-option>
          <md-option ng-repeat="user in data.users" value="{{user._id}}">
            {{user.username}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Description</label>
        <textarea ng-model="task.description" rows="3" columns="1" md-maxlength="150" rows="5"></textarea>
      </md-input-container>
      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
        <md-button 
          class="button md-raised md-primary" 
          ng-click="showTask=false; updateTask(task); task = null; showAddTaskButton=true;">Submit</md-button>
      </section>
    </form>
  </md-content>

  <md-content class='taskList'>

    <md-subheader class="md-no-sticky">Staging</md-subheader>
    <md-list-item ng-repeat="task in data.tasks | filter : stagingFilter">
      <!-- this <div ng-repeat> is a workaround that prevents the check box from being selected when the usr clicks on the list item -->
      <div ng-repeat='n in [0]'>
        <md-checkbox ng-model="task.isCompleted" ng-change="updateTask(task)"></md-checkbox>
      </div>
      <p
        class="taskListItem"
        ng-click="loadTaskDetails(task); $parent.$parent.showTask=true; $parent.showAddTaskButton=false;"
        md-ink-ripple>
        {{ task.name }}
      </p>
      <md-icon class="md-secondary" ng-click="deleteTask(task)" aria-label="Delete" md-svg-icon="/assets/clear_24px.svg"></md-icon>
    </md-list-item>

    <md-divider></md-divider>

    <md-subheader class="md-no-sticky">Assigned</md-subheader>
    <md-list-item ng-repeat="task in data.tasks | filter : assignedFilter">
      <!-- this <div ng-repeat> is a workaround that prevents the check box from being selected when the usr clicks on the list item -->
      <div ng-repeat='n in [0]'>
        <md-checkbox ng-model="task.isCompleted" ng-change="updateTask(task)"></md-checkbox>
      </div>
      <p
        class="taskListItem"
        ng-click="loadTaskDetails(task); $parent.$parent.showTask=true; $parent.showAddTaskButton=false;"
        md-ink-ripple>
        {{ task.name }}
      </p>
      <md-icon class="md-secondary" ng-click="deleteTask(task)" aria-label="Delete" md-svg-icon="/assets/clear_24px.svg"></md-icon>
    </md-list-item>

    <md-divider></md-divider>

    <md-subheader class="md-no-sticky">Complete</md-subheader>
    <md-list-item ng-repeat="task in data.tasks | filter : completedFilter">
      <!-- this <div ng-repeat> is a workaround that prevents the check box from being selected when the usr clicks on the list item -->
      <div ng-repeat='n in [0]'>
        <md-checkbox ng-model="task.isCompleted" ng-change="updateTask(task)"></md-checkbox>
      </div>
      <p
        class="taskListItem"
        ng-click="loadTaskDetails(task); $parent.showTask=true; $parent.showAddTaskButton=false;"
        md-ink-ripple>
        {{ task.name }}
      </p>
      <md-icon class="md-secondary" ng-click="deleteTask(task)" aria-label="Delete" md-svg-icon="/assets/clear_24px.svg"></md-icon>
    </md-list-item> 
  </md-content>

  <md-button class="md-raised logoutbtn" ng-click="signout()">Sign Out</md-button>

</md-content>


