<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{org.title}}</span>
            <span class="md-subhead"><span ng-repeat="user in data.orgUsers">{{user.username}} | </span></span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <!-- User Form -->
        <md-content layout-padding ng-show='showUserForm' class="fx-zoom-normal fx-speed-500">
            <md-icon id="closeFormBtn" ng-click="resetUserDetails()" aria-label="Close" md-svg-icon="/assets/clear_24px.svg">
            </md-icon>
            <br>
            <form name="userForm">
                <md-input-container flex>
                    <label>Organization Members</label>
                    <md-select ng-model="data.user">
                        <md-option value="">Unassigned</md-option>
                        <md-option ng-repeat="user in data.users" value="{{user._id}}">
                            {{user.username}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <md-button class="button md-raised md-primary" ng-click="addUser(data.user);  resetUserDetails();">
                        Add User
                    </md-button>
                </section>
            </form>
        </md-content>
        <!-- Project Form -->
        <md-content layout-padding ng-show='showProjectForm' class="fx-zoom-normal fx-speed-500">
            <md-icon id="closeFormBtn" ng-click="resetProjectDetails()" aria-label="Close" md-svg-icon="/assets/clear_24px.svg">
            </md-icon>
            <br>
            <form name="projectForm">
                <md-input-container class="md-block">
                    <label>Project Name</label>
                    <input md-maxlength="50" required name="project" ng-model="project.name">
                    <div ng-messages="projectForm.description.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Description</label>
                    <input md-maxlength="50" required name="project" ng-model="project.description">
                </md-input-container>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    <md-button class="button md-raised md-primary" ng-click="newProject(project);  resetProjectDetails();">
                        Submit
                    </md-button>
                </section>
            </form>
        </md-content>
        <section layout="row">
            <project-card ng-repeat="project in org.projects" project="project" org="org"></project-card>
        </section>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
        <md-button class="md-button md-ink-ripple" ng-click="showProjectForm=true; showProjectButton=false">
            Add Project
        </md-button>
        <md-button class="md-button md-ink-ripple" ng-click="showUserForm=true; showUserButton=false">
            Add Users
        </md-button>
    </md-card-actions>
</md-card>
