<div>
	<h3>{{org.title}}</h3>
	<p>Organization Members</p>
	
	<!-- User Manager Directive -->
	<user-manager 
		user-list="data.users" 
		current-users="data.orgUsers" 
		handle-submit="addUserToOrganization" 
		handle-remove="removeUserFromOrganization">
	</user-manager>
	
	<p>Projects</p>
	<div>
		<project-card ng-repeat="project in org.projects" org="org" project="project"></project-card>
	</div>
	
	<p>Add Project</p>
	<form ng-submit="newProject(data.project)">
		<label>Title</label>
		<input ng-model="data.project.name" type="text">
		<label>Description</label>
		<input ng-model="data.project.description" type="text">
		<input type="submit">
	</form>

</div>