<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
  </head>
  <body>
    <!-- the ng-view directive is where our templates will be loaded into when naviagted to 
    <div ng-view></div>
    -->
    <div ng-controller='TasksController' ng-cloak>
      <!--
      -->
      <md-button class="md-raised md-primary" ng-click="clearTaskFields(); showTask=true">Add Task</md-button>
      
      <div class='taskList'>

        <div class='staging'>
          <h1>Staging</h1>
          <div class='task' ng-repeat='task in data.tasks'>
            <div 
              class='title' 
              ng-if='!task.completed && !task.assignee' 
              ng-click="loadTaskDetails(task); $parent.$parent.showTask=true">
              {{ task.title }}
            </div>
          </div>
        </div>

        <div class='assigned'>
          <h1>Assigned</h1>
          <div class='task' ng-repeat='task in data.tasks'>
            <div 
              class='title' 
              ng-if='!task.completed && task.assignee'
              ng-click="loadTaskDetails(task); $parent.$parent.showTask=true">
              {{ task.title }}
            </div>
          </div>
        </div>

        <div class='completed'>
          <h1>Completed</h1>
          <div class='task' ng-repeat='task in data.tasks'>
            <div 
              class='title' 
              ng-if='task.completed'
              ng-click="loadTaskDetails(task); $parent.$parent.showTask=true">
              {{ task.title }}
            </div>
          </div>
        </div>
      
      </div>

      <div class='taskDetails' ng-show='showTask'>
        <input name='title' type='text' ng-model='task.title' placeholder='Add a task'>
        <br>
        <input name='assignee' type='text' ng-model='task.assignee' placeholder='Add an assignee'>
        <br>
        <input name='description' type='text' ng-model='task.description' placeholder='Add a description'>
        <br>
        <md-button 
            class="button md-raised md-primary" 
            ng-click="showTask=false; postTask(task); task = null;">
          {{ buttonText }}
        </md-button>
      </div>

    </div>
 
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="app/auth/auth.js"></script>
    <script src="app/tasks/tasks.js"></script>
    <script src="app/services/services.js"></script>
    <script src="app/app.js"></script>
  </body>
</html>
