<md-card class="projcard">
    <!-- ng-repeat="project in org.projects"> -->
    <md-card-title ui-sref="user">
        <md-card-title-text>
            <span class="md-headline">{{ project.name }}</span>
            <span class="md-subhead">{{ project.description }}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-chips>
            <md-chip>{{data.projectUsers.length}} users</md-chip>
            <br>
            <md-chip>{{project.tasks.length}} tasks</md-chip>
        </md-chips>
        <form name="userForm">
            <md-input-container flex>
                <label>Project Members</label>
                <md-select ng-model="data.newUser">
                    <md-option value="">Unassigned</md-option>
                    <md-option ng-repeat="user in data.orgUsers" value="{{user._id}}">
                        {{user.username}}
                    </md-option>
                </md-select>
            </md-input-container>
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                <md-button class="button md-raised md-primary" ng-click="addUser(data.newUser);  resetUserDetails();">
                    Add User
                </md-button>
            </section>
        </form>
    </md-card-content>
</md-card class="projcard">
