<div data-ng-controller="AuthController" flex layout="column" layout-align="center center" ng-cloak>
  <h1 style="text-align:center" class="signheader">Sage</h1>
  <p class="subheader">Sign In</p>
  <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2">
    <md-content class="md-padding" id="authbox">
        <form name="loginForm" ng-submit="signin(user)">
          <md-input-container>
            <label>Team:</label>
            <input ng-model="user.teamname" required>
          </md-input-container><br>
          <md-input-container>
            <label>Name:</label>
            <input ng-model="user.username" required>
          </md-input-container><br>
          <md-input-container>
            <label>Password:</label>
            <input type="password" ng-model="user.password" required>
          </md-input-container><br>
          <md-button type="submit" class="md-primary darkbutton" id="signInBtn"
            ng-class="{'md-raised md-primary': (loginForm.$dirty && loginForm.$valid) }"
            aria-label="Sign In">Sign In</md-button>

        </form>
    </md-content>
  </div>
  <br><br>
  Don't have an account?<a ui-sref="signup" id="signuplink">Sign up</a>
</div>
